---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome tomy first app Astro.">
  <main>
    <h2>My Home Page</h2>
  </main>
</Layout>

<style>
  h2 {
    color: red;
  }
</style>
